.env
__pycache__/
lib/
.DS_Store
.kiro/
.venv
.venv/
pyvenv.cfg


# Ignore all markdown files except README.md
*.md
!README.md

# Explictly ignore AGENTS.md
AGENTS.md

# Crawl4AI Browser Profile
.browser_profile/
frontend/

# Ignore API backend
src/real_ai_agents/api.py
